@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About me</h1>
     <table>
        <thead>
            <tr>
                <th>Name</th>
                <td>Toluwanimi</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Email Address</th>
                <td>abimbolaoladejo4@gmail.com</td>
            </tr>
        </tbody>
    </table>
</div>